<main>
    <div class="row gy-5">
        <section class="col-12 ">
            <div class="card class= text-bg-dark">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product</h5>
                    <p class="text-bg-secondary">Заглушки для ноутбуку від пилу силіконові 16 шт (Type C) Фіолетові </p>
                    <a href="/summary" target="_blank" class="btn btn-primary">Open</a>


                </div>
            </div>
        </section>

        <section class="col-6">
            <div class="card text-bg-success">
                <div class="card-header">
                    <div>Menu</div>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Home page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Summary page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Skills page</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="col-6">
            <table class="table table-bordered table-striped text-bg-warning">
                <thead>
                    <tr>
                        <th>
                            #id
                        </th>
                        <th>
                            name
                        </th>
                        <th>
                            age
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>1</th>
                        <td>John</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Ivan</td>
                        <td>25</td>
                    </tr>

                    <tr>
                        <th>3</th>
                        <td>Zohn</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Bivan</td>
                        <td>15</td>
                    </tr>
                </tbody>


            </table>
        </section>

        <section class="col-6">
            <div class="row g-2">
                <div class="col-6">
                    <div class="card text-bg-success text-center">
                        <div class="card-header ">Header</div>
                        <div class="card-body ">
                            <h6 class="card-title">This is a title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card text-bg-success text-center">
                        <div class="card-header ">Header</div>
                        <div class="card-body ">
                            <h6 class="card-title">This is a title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card text-bg-success text-center">
                        <div class="card-header ">Header</div>
                        <div class="card-body ">
                            <h6 class="card-title">This is a title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-bg-success text-center">
                        <div class="card-header ">Header</div>
                        <div class="card-body ">
                            <h6 class="card-title">This is a title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card text-bg-success text-center">
                        <div class="card-header ">Header</div>
                        <div class="card-body ">
                            <h6 class="card-title">This is a title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer">Footer</div>
                    </div>
                </div>



            </div>
        </section>
    </div>

    {{!-- <div class="card text-bg-success">
        <div class="card-header">
            <div>Menu</div>
        </div>

        <ul class="list-group list-group-flush ">
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Home page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Summary page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Skills page</a>
            </li>
        </ul>

        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>

    </div>



    <table class="table table-striped text-bg-warning">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <td>John</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>25</td>
            </tr>
        </tbody>
    </table>



    <div class="card text-bg-warning text-center">
        <div class="card-header ">Header</div>
        <div class="card-body ">
            <h6 class="card-title">This is a title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer">Footer</div>
    </div>



    <div class="row g-5">
        <div class="col-4">
            <div class="card text-bg-success text-center">
                <div class="card-header ">Header</div>
                <div class="card-body ">
                    <h6 class="card-title">This is a title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer">Footer</div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success text-center">
                <div class="card-header ">Header</div>
                <div class="card-body ">
                    <h6 class="card-title">This is a title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer">Footer</div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success text-center">
                <div class="card-header ">Header</div>
                <div class="card-body ">
                    <h6 class="card-title">This is a title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success text-center">
                <div class="card-header ">Header</div>
                <div class="card-body ">
                    <h6 class="card-title">This is a title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer">Footer</div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success text-center">
                <div class="card-header ">Header</div>
                <div class="card-body ">
                    <h6 class="card-title">This is a title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer">Footer</div>
            </div>
        </div>



    </div> --}}

</main>