<main>

    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p>Заглушки для ноутбуку від пилу силіконові 16 шт (Type C) Фіолетові </p>
            <a href="/summary" target="_blank" class="btn btn-primary">Open</a>


        </div>
    </div>

    <br><br><br>
    <div class="card">
        <div class="card-body">
            <div>Menu</div>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Home page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Summary page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Skills page</a>
            </li>
        </ul>

        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>

    </div>

    <br><br><br>

</main>