<div>
    <main>
        <section>
            <div class="card">
                <div class="card-body">
                    {{#with heading}}
                    {{#with main}}
                    <div class="card">
                        <div class="card-body">
                            <h1>{{title}}</h1>
                            <p>{{text}}</p>
                            <div><button type="button" class="btn btn-primary">{{button_text.solid}}</button></div><br>
                            <div><button type="button" class="btn btn-outline-primary">{{button_text.outline}}</button>
                            </div><br>
                        </div>
                    </div>
                    {{/with}} {{! -with_main- }}
                    <br>


                </div>
            </div>






        </section>
    </main>
</div>